# problem solving programming

#### date 12 june 2019

#### day objectives

-

# string slicing

In [1]:
s1 = 'python' #single quotes and double quotes both represent string

s1

'python'

In [2]:
s1 = 'python' #single quotes and double quotes both represent string

s1[0]

'p'

In [4]:
s1 = 'python' #single quotes and double quotes both represent string

s1[5]

'n'

In [6]:
s1 = 'pythondhanalakshminalgondatelangana' #single quotes and double quotes both represent string

s1[len(s1)-1]

'a'

In [61]:
s1 = 'pythondhanalakshminalgondatelangana' #single quotes and double quotes both represent string

s1[0]                #accesing the 1st character of a string
s1[1]                #accesing the 1st character of a string
s1[len(s1)-1]         #accesing the last character in a string         

s1[-1]                #another way of accessing the last character

s1[-2]                #accessing the penultimate character of a string

s1[0:2]              #starts at 1st character and ends at 2nd character

s1[0:18]              #starts at 1st character and ends at 18th character

s1[-2:]              #starts at 2nd character from last and blank represents

s1[-9:]              #starts at 9nd character from last and blank represents

s1[4:10]              #starts at 4th character from 10th character

s1[4:]              #starts at 5th character and ends with last character

s1[1:-1]           #accessing all characters accept 1st and last character

s1[len(s1)//2]     #accessing the middile character of a string

s1[-1::-1]                   # reverse of the string

s1[-1:0:-1]                   # reverse of the string except 1st latter missing

s1[-1:-3:-1]              #access last two characters in a reverse order

s1[len(s1)//2:len(s1)//2-2:-1]  #reverse the middle two characters in an even length string

s1[::2]                        # accessing alternate characters in a string # "python" -> "pto"

s1[::-2]                    # accessing alternate characters in a string in a reverse order # "python" -> "nhy"

'aanltdolnmsaaadotp'

# functions

In [62]:
#function to reverse a string
def reversestring(s):
    return s[::-1]

reversestring("python")

'nohtyp'

In [68]:
#function to check if a string is a pallindrom
def palindrome(s):
    if s == s[::-1]:
        return True
    else:
         return False
palindrome ("racecar")

True

In [74]:
#function to check if a leap year is or not
def isleapyear(year):
    if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
           return True
    return False

isleapyear(2019)

False

In [78]:
#function to count the number of digits in a given numbers
def isnumberofdigits(s):
    s=len(str(s))
    return s
isnumberofdigits(12345)

5

In [90]:
#function to identify the greatest of 4 numbers

def greatest (n1,n2,n3,n4):
    if  n1 > n2 and n1 > n3 and n1 > n4:
        return n1
    elif n2 > n1 and n2 > n3 and n2 > n4:
        return n2
    elif n3 > n1 and n3 > n2 and n3 > n4: 
        return n3
    else:
        return n4

greatest(23,24,56,86)

86

# ITERATION

- FOR
- WHILE

In [91]:
#function to print n natural numbers using for loop

def printNNaturalNumbers(n):
    for counter in range (1, n+1):
        print(counter, end=" ")
    return
printNNaturalNumbers(30)
printNNaturalNumbers(10)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 1 2 3 4 5 6 7 8 9 10

In [97]:
#function to print n natural numbers using while loop

def nnaturalnumbers(n):
    counter  = 1
    while counter <= n:
        print (counter, end = " ")
        counter = counter + 1
    return

nnaturalnumbers(10)

1 2 3 4 5 6 7 8 9 10

In [5]:
# function to print all numbers divisible by 6 
# and not a factor of 100 in a given range (lb, ub) inclusive

def divby6(lb,ub):
    for i in range (lb,ub+1):
        if i%6 == 0 and i%100 != 0:
            print (i,end = " ")
        
    return

divby6(20,60)

24 30 36 42 48 54 60

In [15]:
#function to find the average of all given range (ib, and ub both are inclusive)(even numbers)
#function to find the average of all given range (ib, and ub both are inclusive)

def avgofgiven(lb,ub):
    counter = 0
    avg = 0
    sum1 = 0
    for i in range (lb,ub+1):
        if i%2 == 0:
            sum1 = sum1+i**3
            counter = counter +1
    avg = sum1/counter
    print(avg,end = " ")
        
    return

avgofgiven(2,60)

57660.0

In [32]:
#function to generate list of factors to the given number

#12 -> 1 2 3 4 6 12

def factofgivennum(n):
    for i in range (1,n+1):
        if n%i == 0:
            print(i, end = " ")
    return

factofgivennum(12)

1 2 3 4 6 12

In [47]:
#Function to calculate the factorial of a given number

def factor(n):
    fact=1
    for i in range (1,n+1):
        fact = fact*i
    print(fact, end = " ")
    return

factor(5)

120

In [3]:
#Function to check if a given number is prime
def prime(num):
        for i in range (2, num//2):
            if num % i == 0:
                return False
        return True
    
prime(87)

False

In [34]:
# function to calculate the average first N prime numbers
def n1pavg(lb,ub):
    sum = 0
    avg = 0
    count = 0
    for num in range (lb,ub+1):
        if prime(num):
            sum = sum+num
            count = count + 1
            avg = sum/count
        
    print(avg)
    return
n1pavg(2,15)

6.428571428571429

In [23]:
# function to find given number is perfect or not

def perfect(number):
    Sum = 0
    for i in range(1, number):
        if(number % i == 0):
            Sum = Sum + i
    if (Sum == number):
        return True
    return False

perfect(28)

True

In [30]:
# function to generate all perfect numbers in a given range

def perfectgive(lb,ub):
    for number in range (lb,ub+1):
        if perfect(number):
            print(number,end=" ")
    return
perfectgive(2,800)

6 28 496

In [18]:
# function to print the alternate values in a given range # [500 to 550] -> 500 502 504 ...........550


def alternate(lb,ub):
    for i in range (lb,ub+1):       #for i in a range (ib,ub+1, 2) is same as for and if loop
        if i%2 == 0:
            print (i,end = " ")
        
    return
alternate(500,550)

500 502 504 506 508 510 512 514 516 518 520 522 524 526 528 530 532 534 536 538 540 542 544 546 548 550

In [20]:
# function to print the alternate values in a given range # (500 to 550) -> 501 503 505 ...........549


def alternate(lb,ub):
    for i in range (lb,ub):
        if i%2 == 0:
            print (i+1,end = " ")
        
    return
alternate(500,550)

501 503 505 507 509 511 513 515 517 519 521 523 525 527 529 531 533 535 537 539 541 543 545 547 549

In [7]:
# function to print the alternate values in a given range # (500, 550) -> 501 502 503 ...........549

def alternate(lb,ub):
    for i in range (lb+1,ub):
        if i%1 == 0:
            print (i,end = " ")
        
    return
alternate(500,550)

501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544 545 546 547 548 549

In [11]:
# function to print the reverse values in a given range # (500, 550) -> 501 502 503 ...........549

def alternatereverse(lb,ub):
    for i in range (ub,lb,-1):
        if i%2 == 0:
            print (i,end = " ")
        
    return
alternatereverse(500,550)

550 549 548 547 546 545 544 543 542 541 540 539 538 537 536 535 534 533 532 531 530 529 528 527 526 525 524 523 522 521 520 519 518 517 516 515 514 513 512 511 510 509 508 507 506 505 504 503 502 501

In [19]:
# function to print the odd numbers reverse values in a given range # (500, 550) -> 501 502 503 ...........549

def alternatereverse(lb,ub):
    for i in range (ub,lb,-1):
        if i%2 == 0:
            print (i-1,end = " ")
        
    return
alternatereverse(500,550)

549 547 545 543 541 539 537 535 533 531 529 527 525 523 521 519 517 515 513 511 509 507 505 503 501

In [21]:
# function to print the even numbers reverse values in a given range # (500, 550) -> 501 502 503 ...........549

def alternatereverse(lb,ub):
    for i in range (ub+1,lb,-1):
        if i%2 == 0:
            print (i,end = " ")
        
    return
alternatereverse(500,550)

550 548 546 544 542 540 538 536 534 532 530 528 526 524 522 520 518 516 514 512 510 508 506 504 502

In [32]:
#function to calculate the sum of numbers in a range

def sumofnum(lb,ub):
    sum1=0
    for i in range (lb,ub+1):
        
        sum1=sum1+i          # print (sum1,end = " ") is a wrong statement
        
    return sum1
sumofnum(100,200)

15150

In [2]:
#function to calculate the average of numbers in a range


def sumofnumavg(lb,ub):
    sum1=0
    count = 0
    avg = 0
    for i in range (lb,ub+1):
        
        sum1=sum1+i          # print (sum1,end = " ") is a wrong statement
        count = count+1
        avg = sum1/count
    return avg
sumofnumavg(1,89)

45.0

In [13]:
#function to generate all leap years in a given time periode
#2000 - 2020 -> 2000 2004 2008 2012 2016 2020

def leapyear(lb,ub):
    for year in range (lb,ub+1):
        if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
                          print (year,end = " ")
    return
    



leapyear(2000,2020)

2000 2004 2008 2012 2016 2020

In [18]:
#calculate the number of days in given time period

def leapyear(lb,ub):
    totaldaysinleap = 366
    totaldaysinnonleap = 365
    days = 0
    for year in range (lb,ub+1):
        if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
                days = days+totaldaysinleap
        else:
                 days = days+totaldaysinnonleap
                          
    return days
leapyear(2000,2020)

7671

In [19]:
#calculate the number of days in given time period of leap years

def leapyear(lb,ub):
    totaldaysinleap = 366
    totaldaysinnonleap = 365
    days = 0
    for year in range (lb,ub+1):
        if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
                days = days+totaldaysinleap
       
                          
    return days
leapyear(2000,2020)

2196

In [32]:
#calculate the number of days in given time period of non leap years

def leapyear(lb,ub):
    totaldaysinleap = 366
    totaldaysinnonleap = 365
    days = 0
    leapdays = 0
    for year in range (lb,ub+1):
        if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
            leapdays = leapdays+totaldaysinleap
        else:
                 days = days+totaldaysinnonleap
                          
    return days
leapyear(2000,2020)

5475

In [33]:
#for every year in the given time period, if the is not leap year --> add 365 to the sum, if not add add 366

#calculate the number of days in given time period of non leap years

def leapyear(lb,ub):
    totaldaysinleap = 366
    totaldaysinnonleap = 365
    days = 0
    leapdays = 0
    for year in range (lb,ub+1):
        if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
            leapdays = leapdays+totaldaysinleap
        else:
                 days = days+totaldaysinnonleap
                          
    return days, leapdays 
leapyear(2000,2020)

(5475, 2196)

In [41]:
#function to calculate number of hours for a given time periode leap non leap

def leapyear(lb,ub):
    totaldaysinleap = 366
    totaldaysinnonleap = 365
    days = 0
    leapdays = 0
    leaphours = 0
    normalhours = 0
    for year in range (lb,ub+1):
        if year % 400 == 0 or (year % 100 != 0 and year % 4 == 0):
            leapdays = leapdays+totaldaysinleap
            leaphours = leaphours+8784
        else:
                 days = days+totaldaysinnonleap
                 normalhours = normalhours+8760
                          
    return leaphours, leapdays ,normalhours, days
leapyear(2000,2001)

(8784, 366, 8760, 365)

In [43]:
#function to calculate number of days in given time period
# 14,2,2017, 23,6,2019 --> 1464